<h1> Delish or NOT? </h1>

<%= form_for @vote do |f| %>
  Score: <%= f.number_field :score %>
  <%= f.hidden_field :user, value: @user %>
  <%= f.hidden_field :picture, value: @pictureid %>
  <%= f.submit "Submit" %>
<% end %>
<br />

<%= image_tag @picture.image.url, size: "800x600" %> <br />


